input {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    height: 3em;
    margin-bottom: 1em;
}

.login-container main {
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    max-width: 28em;
    padding: 2em;
    position: relative;
    width: 15em;
}

.login-container {
    color: #94989f;
    display: flex;
    height: 100%;
    width: 100%;
}

button {
    background-image: linear-gradient(98deg,#f8403d,#ff2e73);
    background-image: -o-linear-gradient(352deg,#f8403d,#ff2e73);
    border: 0;
    border-radius: 20px;
    box-shadow: 0 2px 9px 0 rgba(247,123,155,.71);
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    height: 3em;
    width: 100%;
}

.or-option {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1.5em 0;
}

.or-option > hr {
    border: none;
    border-top: 1px solid #94989f;
    height: 1px;
    margin: 0;
    width: 41%;
}

.login-button-google {
    background: no-repeat 20px 4px;
    background-size: 25px 25px;
    border: 1px solid #000;
    box-shadow: none;
    color: #585c61;
}

.unregistered, .registered {
    color: red;
    font-size: 14px;
    margin-top: 1em;
    text-align: center;
}

.register-success, .login-success {
    color: green;
    font-size: 14px;
    margin-top: 1em;
    text-align: center;
}

.register-failure, .login-failure {
    color: red;
    font-size: 14px;
    margin-top: 1em;
    text-align: center;
}

.page-title {
    align-self: center;
    color: #000;
}

input {
    padding: 5px;
}